.main {
    width: 100vw;
    height: auto;
    max-height: 100vh;
    aspect-ratio: 1600 / 840;
    position: relative;
}

.main .navegacao {
    position: absolute;
    top: 2%;
    left: 1%;
    width: 17%;
    height: 7%;
    display: flex;
    align-items: center;
    gap: 1%;
    z-index: 2;
}

.main .navegacao a {
    width: 31%;
    height: 100%;
}

.main .navegacao a img {
    width: 100%;
    height: 100%;
}

.main .selecao-ligue {
    align-self: center;
    justify-self: center;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5%;

}

.main .selecao-ligue .img-ligue {
    margin-bottom: 2%;
    width: 30%;
}

.main .selecao-ligue .selecao-modo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
    width: 60%;
    height: 65%;

}

.main .selecao-ligue .selecao-modo a {
    width: 20%;
}

.main .selecao-ligue .selecao-modo a img {
    width: 100%;
    height: 100%;
}


.main .selecao-jogos {
    text-align: center;
}

.main .selecao-jogos p {
    position: absolute;
    color: #B9B9B9;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 26px;
    top: 7%;
    left: 0;
    right: 0;
}


.main .containerLigue .canvas {
    position: absolute;
    top: 13%;
    left: 5%;
    width: 90%;
    height: 80%;
}

.main .containerLigue .coluna1,
.main .containerLigue .coluna2 {
    top: 15%;
    gap: 4.75%;
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 75%;
    position: absolute;
    z-index: -1;
}

.main .containerLigue .coluna1.objetos,
.main .containerLigue .coluna2.objetos {
    height: 76%;
    width: 6%;
    gap: 1.5%;
}

.main .containerLigue .coluna1 {
    left: 6%;
}

.main .containerLigue .coluna2 {
    right: 6%;
}

.main .containerLigue .coluna1 .items, 
.main .containerLigue .coluna2 .items {
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .containerLigue .coluna1 .items img, 
.main .containerLigue .coluna2 .items img {
    width: 100%;
    height: 100%;
}

.main .fim-de-jogo, .main .checkmark {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #dddddd9f;
}

.main .fim-de-jogo {
    flex-direction: column;
}

.main .checkmark {
    background: none;
}

.main .fim-de-jogo img {
    width: 55%;
    height: 35%;
}

.main .checkmark img {
    width: 20%;
    height: 20%;
}

.main .fim-de-jogo .navegacao-final {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    height: 8%;
}

.main .fim-de-jogo .navegacao-final a {
    width: 25%;
    height: 100%;
}

.main .fim-de-jogo .navegacao-final a img {
    width: 100%;
    height: 100%;
}

.main .fim-de-jogo.hidden, .main .checkmark.hidden {
    z-index: -3;
    display: none;
    opacity: 0;
}



@media (min-width: 1780px) {
    .main {
        aspect-ratio: 1600 / 800;
    }
}

@media (max-height: 425px) {
    .main {
        aspect-ratio: 1600 / 690;
    }

    .main .containerLigue .coluna1,
    .main .containerLigue .coluna2 {
        width: 6%;
        height: 30%;
        gap: 20px;
    }
}