.main {
    width: 98vw;
    height: auto;
    aspect-ratio: 16/8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    padding: 1%;
    width: 100%;
    margin-bottom: 1%;
}

.main .header .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.main .header .selecione-jogo {
    width: 30%;
}

.main .header .container .navigation {
    display: flex;
    gap: 2%;
    width: 18%;
}

.main .header  .container .navigation a{
    width: 25%;
}

.main .header  .container .navigation a img {
    width: 100%;
}

.main .header  .container .pesquisa {
    width: 30%;
    border: 1px solid #B5B5B5;
    padding: 1%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .header  .container .pesquisa label {
    width: 10%;
}

.main .header  .container .pesquisa label img {
    width: 100%;
}

.main .header  .container .pesquisa input {
    font-size: 2em;
    width: 90%;
    border-radius: 20px;
    padding: 1% 3%;
}

.main .atividades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    width: 100%;
    height: auto;
    padding: 2%;
    margin: 2%;
}

.main .atividades a {
    width: 100%;
    height: 100%;
    padding: 2%;
}

.main .atividades a img {
    width: 100%;
    height: 100%;
}

