.main {
    position: relative;
    max-width: 100vw;
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16 / 8;
}

.main .navegacao {
    position: absolute;
    top: 2%;
    left: 1%;
    display: flex;
    gap: 4%;
    width: 14.7%;
    transition: all 0.5s ease-in;
}

.main .navegacao a img {
    width: 100%;
    height: 100%;
}

.main .dobradura {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .dobradura .nome-dobradura {
    position: absolute;
    top: 3%;
    width: 22%;
    height: 15%;
}

.main .dobradura .nome-dobradura .name-image {
    width: 100%;
    height: 100%;
}

.main .dobradura .passos-dobradura {
    position: absolute;
    top: 20%;
    display: flex;
    align-items: center;
    width: 85%;
    height: 75%;
}

.main .dobradura .passos-dobradura.barco-pronto {
    justify-content: center;
}

.main .dobradura .passos-dobradura .passo {
    width: 100%;
    height: 100%;
}

.main .dobradura .passos-dobradura .passo.aviao-pronto {
    width: 80%;
    height: 80%;
}

.main .dobradura .passos-dobradura .passo.barco-pronto {
    width: 70%;
    height: 70%;
}

.main .dobradura .passos-dobradura .passo.cachorro-pronto {
    width: 80%;
    height: 80%;
}

.main .dobradura .passos-dobradura .passo.flor-pronto {
    width: 85%;
    height: 85%;
}

.main .dobradura .passos-dobradura .passo.gato-pronto {
    width: 70%;
    height: 85%;
    transform: translate(-10%);
}

.main .dobradura .passos-dobradura .passo.gato {
    transform: translate(-5%);
}

.main .dobradura .btn-avancar {
    position: absolute;
    right: 6%;
    top: 51%;
    width: 7%;
    height: 14%;
}

.main .dobradura .btn-avancar.barco {
    right: 4%;
}

.main .dobradura .btn-avancar.pronto.aviao {
    top: 60%;
}

.main .dobradura .btn-avancar.cachorro-pronto {
    top: 82%;
    right: 30%;
}

.main .dobradura .btn-avancar.flor-pronto {
    top: 75%;
    right: 16%;
}

.main .dobradura .btn-avancar.gato-pronto {
    top: 82%;
    right: 10%;
}

.main .dobradura .btn-avancar img {
    width: 100%;
    height: 100%;
}