.main {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16 / 8;
}

.main .container {
    position: relative;
    width: 100%;
    height: 100%;
}

.main .container img {
    width: 100%;
    height: 100%;
}

.main .container .audiodescription {
    position: absolute;
    top: 2.75%;
    left: 8%;
}

.main .container .container-buttons {
    position: absolute;
    display: flex;
    bottom: 4%;
    gap: 3%;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
}

.main .container a {
    width: 14.5%;
    height: 14.5%;
}

.main .container button {
    width: 7.5%;
    height: 7.5%;
}

.main .container button img, .main .container a img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1608px) {
    .main {
        aspect-ratio: 0;
    }

    .main .container .audiodescription {
        left: 1%;
    }
}