.main {
    width: 100%;
    max-width: 1679px;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    /* background: rgb(207,235,249);
    background: linear-gradient(180deg, rgba(207,235,249,1) 0%, rgba(120,175,97,1) 100%); */
}

.main .container {
    position: relative;
    width: 100%;
    height: 100%;
}

.main .container .container-image .background {
    width: 100%;
    height: 100%;
}

.main .container .navegacao {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 5.5%;
    height: 20%;
    top: 5%;
    left: 2%;
}

.main .container .navegacao a {
    width: 100%;
    height: 100%;
}

.main .container .navegacao a img {
    width: 100%;
    height: 100%;
}

.main .container .paint-modes {
    display: flex;
    position: absolute;
    bottom: 14%;
    width: 7.5%;
    height: 37%;
    left: 2.15%;
    gap: 1.2%;
    justify-content: space-between;
    align-items: center;
}

.main .container .paint-modes .pinceis {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    gap: 2.5%;
}

.main .container .paint-modes .pinceis button {
    width: 78%;
    height: 100%;
}

.main .container .paint-modes .pinceis button img {
    width: 100%;
    height: 100%;
}

.main .container .paint-modes input {
    appearance: slider-vertical;
    width: 0%;
    height: 63%;
    transform: translateX(-3px) rotate(180deg) scale(1.05);
}

.main .container .container-canvas {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 88.45%;
    height: 86.5%;
    display: flex;
}

.main .container .container-canvas .canvas {
    position: inherit;
    width: 100%;
    height: 100%;
}

.main .container .paint-colors {
    position: absolute;
    bottom: 3%;
    left: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 63%;
}

.main .container .paint-colors button:nth-child(odd){
    transform: translateY(6%);
}

.main .container .paint-colors button:nth-child(even){
    transform: translateY(-6%);
}

.main .container .paint-colors button img {
    width: 100%;
    height: 100%;
}

.main .container .paint-colors button.selected img{
    transform: scale(1.3);
    border-bottom: 3px solid black;
}