.main {
    width: 100vw;
    height: auto;
    max-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    aspect-ratio: 1600 / 840;
}

.main .container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/fundos/quadro-digital.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main .container .main-image {
    width: 100%;
    height: 100%;
}

.main .container .navegacao {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 6%;
    left: 2%;
    width: 4%;
    height: 40%;
    gap: 1%;
}

.main .container .navegacao a {
    width: 100%;
    height: 25%;
}

.main .container .navegacao a img {
    width: 100%;
    height: 100%;
}

.main .container .paint-modes {
    position: absolute;
    bottom: 5%;
    left: 1%;
    width: 9%;
    height: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background-image: url(../images/quadro-digital/seletor-pinceis.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.main .container .paint-modes .pinceis {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 90%;
    gap: 2%;
    margin-left: 2%;
    justify-content: center;
    align-items: center;
}

.main .container .paint-modes .pinceis button {
    width: 75%;
    height: 25%;
}

.main .container .paint-modes .pinceis button img {
    width: 100%;
    height: 100%;
}

.main .container .paint-modes input {
    appearance: slider-vertical;
    transform: rotate(180deg);
    width: 1%;
    height: 61%;
    margin-right: 15%;
}

.main .container .container-canvas {
    position: absolute;
    top: 4%;
    left: 8%;
    width: 90%;
    height: 90%;
}

.main .container .paint-colors {
    position: absolute;
    bottom: 1%;
    z-index: 1;
    background-image: url(../images/quadro-digital/cavalete-baixo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: 8%;
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    gap: .5%;
}

.main .container .paint-colors button {
    width: 8%;
    height: 75%;
    transform: translate(-50%, -40%);
}

.main .container .paint-colors button:nth-child(odd) {
    transform: translate(-50%, -20%);
}


.main .container .paint-colors button img {
    width: 100%;
    height: 100%;
}

.main .container .paint-colors button.selected img {
    transform: scale(1.5);
}

.main .container .cavalete {
    position: absolute;
    background-image: url(../images/quadro-digital/cavalete.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    height: 9%;
    z-index: 1;
    top: 0;
    right: 18%;
}

.main .container .personagem {
    position: absolute;
    background-image: url(../images/quadro-digital/personagem.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 2%;
    width: 12%;
    height: 23%;
    z-index: 2;
}

@media (max-height: 425px) {
    .main {
        aspect-ratio: 1600 / 690;
    }

    .main .container .paint-colors {
        left: 7%;
    }

    .main .container .paint-colors button {
        transform: translate(0%, -40%);
    }

    .main .container .paint-colors button:nth-child(odd) {
        transform: translate(0%, -20%);
    }
}

@media (min-width: 1780px) {
    .main {
        aspect-ratio: 1600 / 800;
    }
}