.main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main .navegacao{
    margin: 1%;
}

.main .main-image {
    width: 30%;
    height: 12%;
    align-self: center;
    margin-bottom: 5%;
    margin-top: 3%;
}

.main .jogos {
    display: flex;
    justify-content: space-between ;
    width: 70%;
    align-self: center;
    margin-bottom: 5%;
    margin-left: 7%;
}

.main .jogos a {
    width: 100%;
    height: 100%;
}

.main .jogos a img {
    width: 50%;
    height: 70%;
}