.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main .navigation {
    justify-self: flex-start;
    align-self: flex-start;
}

.main .navigation ul {
    display: flex;
    gap: 5px;
    margin: 2rem;
}

.main .conteudo {
    align-self: center;
    justify-self: center;
    display: flex;
    height: 60%;
    width: 60%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 25%
}

.main .conteudo .selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    width: 100%;
}
