.button-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;    
}

.btn-control{
    /* border: 2px solid green; */
    margin-left: 0.5rem;
    background-color: transparent;
    border-width: 0;
}
.header-background{
    width: 45vw;
}

.text-header{
    font-size:4vw;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}


#canvas
{
    /* width:90vw;     */
	border-width:2x;
	background-color: white; 
	border-style:solid;
    border-color: rgb(250, 249, 247,0.5);
}

.screen-message{
    background-color: '#ffffff';
    font-size: 30px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    position:absolute;
    text-align: center;
    display: none;
}
